$primryCollor: rgb(30, 194, 28);
$SecondarColor: rgb(175, 185, 63);
html {
  font-family: generalFont;
}
body {
  background-color: black;
}
h1 {
  margin-bottom: 250px;
  color: $SecondarColor;
  font-size: 100px;
}

h2 {
  color: $primryCollor;
  font-size: 50px;
}

.conteiner {
  background-image: url(/src/images/oboitut.com_1445504196.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#root {
  color: red;
}
